**
!LICENSE
!backend/pyproject.toml
!backend/uv.lock
!backend/app/**
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/tsconfig*.json
!frontend/vite.config.ts
!frontend/index.html
!frontend/src/**
!frontend/public/**
**/.env
**/.env.*
**/__pycache__
**/*.pyc
**/*.db
**/*.db-*
**/.DS_Store
